.sidebar
  color: $cGrey
  background: $nBlack
  position: fixed
  top: 6rem
  height: 100%
  overflow: auto
  @include flex(column, right, center, nowrap)
  .icon-field
    margin-top: 2.6rem
    @extend %cubic1
    .sidebar__icon
      cursor: pointer
      user-select: none
      @include flex(column)
      svg
        height: 1.5rem
        width: 1.5rem
    
 